{% extends 'menu.html.twig' %}

{% block title %}Hello OfertaController!{% endblock %}

{% block body %}
    <ul>
        {% for oferta in ofertas %}
            <li><a href="/{{oferta.id}}">{{ oferta.titol|e }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
